<!-- <div class="container mt-4">
  <app-form-create-conversation></app-form-create-conversation>
</div>

test
 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container text-white">

    <h3 class="text-white">
      <a href="">Home</a>
    </h3>

    <div class="text-white">
      <a href="sms" class="">Create SMS </a>
    </div>

    <div class="text-white">
      <a href="conversations">Conversations</a>
    </div>

    <div class="text-white">
      <a href="debug">Debug</a>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>

<!-- 
<div class="container mt-4">
  <app-form-create-sms></app-form-create-sms>  
</div> -->